<div *ngIf="show" class="mt-2">

    <!-- <div cdkDropListGroup class="container-fluid">
        <div class="row justify-content-start">
            <div class="col"> -->

    <div id="articlesBin" cdkDropList class="row justify-content-start" [cdkDropListConnectedTo]="['articlesList']"
        (cdkDropListDropped)="dropped($event)" [cdkDropListData]="bin_list">
        <div cdkDrag *ngFor="let item of bin_list" class="card col-md-3 bg-transparent border-0"
            (click)="onSelect(item)">
            <div class="text-center p-1 ">
                <img src="https://icons.iconarchive.com/icons/avosoft/toolbar/48/document-icon.png">

                <p class=" m-0" style="font-size:xx-small;">{{stripTags(item!.headline)}}</p>
            </div>
            <li *cdkDragPreview class="list-group ">
                <span [innerText]="stripTags(item.headline) "></span>
            </li>
        </div>
    </div>
    <div class="row justify-content-start">


    </div>