<div class="container-md m-4 align-center">
    <div class="card col-md-8 offset-md-2">
        <div class="card-header">
            Gestion des fichiers
        </div>
        <div class="card-body">
            <h5 class="card-title">

                <div class="col">
                    <span><strong> public/{{folder_path}} </strong> &nbsp;&nbsp;</span>
                    <button type="button" class="btn btn-primary btn-sm" (click)="goBack()">
                        <i class="bi bi-arrow-left"></i>
                    </button>
                </div>
            </h5>
            <div class="card-text">
                <div class="row justify-content-between align-items-center" *ngFor="let item of folderItems ">
                    <ng-container *ngIf="!item.__isFile">
                        <div class="col ">
                            <button type="button" class="btn  h-100" (click)="selectFolder(item)">
                                <i class="bi bi-folder-fill" style="color:rgb(212, 186, 36)"></i>
                            </button>
                            <span>{{item.key}}</span>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="item.__isFile">
                        <div class="col ">
                            <button type="button" class="btn  h-100" (click)="selectFile(item)">
                                <i class="bi bi-file-fill" style="color:rgb(39, 167, 199)"></i>
                            </button>
                            <span>{{item.key}}</span>
                        </div>
                        <div class="col text-end">
                            {{item.size | filesize}}
                        </div>
                    </ng-container>

                </div>
            </div>
        </div>

    </div>
</div>