<div class="row ">

    <div class="bandeau ">
        <div class="row">
            <div class="col-md-3">
                <div class="card deco-gauche2 p-0 float-start">
                    <img class="img-fluid " src="../../../assets/images/engrenages.png" alt="bcsto">
                </div>

                <!-- <div class="card deco-gauche p-0"> </div> -->

                <div class="text-end">
                </div>
            </div>

            <div class="col-md-6  text-center my-auto">
                <h1> {{title}} </h1>
                <h3> {{subtitle}} </h3>
            </div>
            <div class="col-md-3 ">
                <!-- <div class="card deco-droite1 p-0 float-end"> </div>
                <div class="card deco-droite2 p-0 float-start"> </div> -->
            </div>
        </div>
    </div>