.bandeau {
    width: 100%;
    background-color: #4b4f19;
    height: 15vh;
    color: white;
    overflow: hidden;
}

.deco-gauche {
    width: 10vh;
    height: 12vh;
    border-radius: 10px;
    transform: translate(_10vh, -10%);
    // margin-top: 10vh;
    background-color: rgb(101, 158, 103);
    position: relative;
    z-index: 3;
    opacity: 0.7;
}

.deco-gauche2 {
    width: 15vh;
    height: 12vh;
    border-radius: 10px;
    transform: translate(26vh, 2vh);
    // margin-left: 0vh;
    background-color: rgb(228, 228, 93);
    position: relative;
    z-index: 1;

}

.deco-droite1 {
    width: 15vh;
    height: 12vh;
    border-radius: 10px;
    transform: translate(-6vh, -5vh);
    // margin-left: 0vh;
    background-color: rgb(188, 217, 61);
}

.deco-droite2 {
    width: 15vh;
    height: 12vh;
    border-radius: 10px;
    transform: translate(6vh, -2vh);
    // margin-left: 0vh;
    background-color: rgb(106, 13, 140);
    position: relative;
    z-index: 3;
}


.img-fluid {
    max-width: 15vh;
    max-height: 10vh;
    z-index: 5;
    // position: relative;
    opacity: 0.8;
}