<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col col-md-8">
      <div class="card">

        <!-- <img src="./assets/images/Image1.jpg" class="card-img-top" alt="Image1"> -->
        <div class="card-body ">

          <div class="row">
            <span class="h3 text-center pb-4">
              <!-- <i class="bi bi-lock-fill"></i> -->
              création d'un compte</span>
          </div>
          <br>

          <form [formGroup]="signupForm" novalidate>
            <div class="col">


              <div class="row">
                <div class="col form-group form-outline mb-4">
                  <label class="form-label">n° de licence</label>
                  <input type="text" class="form-control form-control-sm" formControlName="license" />
                </div>

                <div class="col form-group form-outline mb-4">
                  <label class="form-label">addresse mail :</label>
                  <input type="email" class="form-control form-control-sm" formControlName="email" />
                </div>
              </div>

              <div class="row">
                <div class="col form-group form-outline mb-4">
                  <label class="form-label">prénom :</label>
                  <input type="email" class="form-control form-control-sm" formControlName="firstname" />
                </div>

                <div class="col form-group form-outline mb-4">
                  <label class="form-label">nom :</label>
                  <input type="text" class="form-control form-control-sm" formControlName="lastname" />
                </div>
              </div>
              <ng-container *ngIf="memberConfirmed">

                <div class="row">
                  <div class="col form-group form-outline mb-4">
                    <label class="form-label">choisisez un mot de passe :</label>
                    <input type="password" class="form-control form-control-sm" formControlName="password"
                      [class.is-invalid]="password.invalid && (password.dirty || password.touched)" />
                    <div class="invalid-feedback">
                      mot de passe non conforme
                    </div>
                  </div>
                </div>


                <div class="row">

                </div>
              </ng-container>

              <!-- <div class="row"> -->
              <div class="d-grid ">
                <button class="btn btn-sm btn-primary " type="button" *ngIf="!memberFound " (click)="onSearch()">trouvez
                  moi !</button>

                <button class="btn btn-sm btn-primary " type="button" *ngIf="memberFound && !memberConfirmed"
                  (click)="onConfirm()">c'est bien moi !</button>

                <button class="btn btn-sm btn-primary " type="button" *ngIf="memberConfirmed && !isConfirmed"
                  (click)="onSignup()">enregistrez moi !</button>

                <label class="form-label" *ngIf="memberConfirmed && isConfirmed">un code vous a été envoyé par mail
                  ...</label>
                <div class="input-group mb-3" *ngIf="memberConfirmed && isConfirmed">
                  <input #code type="text" class="form-control" placeholder="renseignez le code">
                  <button class="btn btn-sm btn-primary" (click)="confirmSignUp(code.value)" type="button">je l'ai
                    !</button>
                </div>
              </div>
              <div class="row justify-content-center pt-4" *ngIf="memberConfirmed && !isConfirmed">
                <div class="col-md-8">
                  <div class="info-feedback">

                    le mot de passe doit avoir 8 caractères minimum dont 1 majuscule, 1 minuscule, 1 chiffre et 1
                    caractère
                    spécial
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>