<div class="row">
    <div [class]="isEditor ? 'col-md-8':'col'">
        <div class="  p-2 text-start">
            <!-- directory back button -->
            <div *ngIf="folder_level" class=" text-start">
                <button type="button" class="btn h-100" (click)="folderUp()">
                    <i class="bi bi-arrow-90deg-up"></i>
                </button>
            </div>
            <!-- show folder's items -->
            <table class="table table-sm table-borderless table-hover">
                <tbody>
                    <tr *ngFor="let item of folderItems ">
                        <ng-container [ngTemplateOutlet]="item.__isFile ? file : directory"
                            [ngTemplateOutletContext]="{item:item}">
                        </ng-container>
                        <td *ngIf="isEditor" class="text-end">
                            <button type="button" class="btn  h-100" (click)="onDeleteItem(item)">
                                <i class="bi bi-trash3-fill" style="color:rgb(184, 38, 33)"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div *ngIf="isEditor" class="col-md-4">
        <label class="col-form-label-sm pt-3">
            répertoire :
            <strong> {{current_folder}} </strong>
        </label>
        <div class="row">
            <!-- <div class="col-md-6"> -->

            <!-- upload file button -->
            <div class="input-group input-group-sm mt-2">
                <label for="file-input" class="btn btn-sm btn-primary text-white">
                    <i class="bi bi-file-earmark-plus"></i>
                </label>
                <label id="file-input-label" for="file-input" class="input-group-text">Ajouter un fichier
                    pdf</label>
                <input id="file-input" accept=".pdf" name="file-input" type="file" (change)="uploadFile($event)"
                    class="form-control">
            </div>
            <!-- </div> -->
            <!-- <div class="col-md-6"> -->
            <!-- add directory button -->
            <div class="input-group input-group-sm mt-2">
                <button type="button" class="btn btn-sm btn-primary text-white" [disabled]="!new_folder"
                    (click)="createFolder()">
                    <i class="bi bi-folder-plus"></i>
                </button>
                <label class=" input-group-text">Ajouter un répertoire</label>
                <input type="text" [(ngModel)]="new_folder" class="form-control">
            </div>
            <!-- </div> -->
        </div>
    </div>

</div>

<ng-template let-item="item" #directory>
    <td colspan="2" class="selectable fs-4 align-middle" (click)="onSelectItem(item)">
        <!-- <button type="button" class="btn "> -->
        <i class="bi bi-folder-fill" style="color:rgb(245, 155, 43)"></i>
        <!-- </button> -->
        &nbsp;
        <span>{{item.key}}</span>
    </td>
</ng-template>

<ng-template let-item="item" #file>
    <td class="selectable fs-4 align-middle" (click)="onSelectItem(item)">
        <!-- <button type="button" class="btn"> -->
        <i class="bi bi-file-pdf-fill" style="color:rgb(43, 139, 67)"></i>
        &nbsp;
        <!-- </button> -->
        <span>{{item.key}}</span>
    </td>
    <td class="fs-4 align-middle">
        <span *ngIf="isEditor"> {{item.size | filesize}}</span>
    </td>

</ng-template>