<div class="container-fluid p-0">
  <div class="row ">


    <app-headband [title]="selectedCategory.label" [description]="selectedCategory.description"> </app-headband>

    <div class="row py-3">

      <!-- // pseudo-menu lateral gauche -->
      <div class="col-md-2 ">
        <app-card class="d-flex m-2" *ngFor="let article of articles$ | async " [catLabel]=" selectedCategory.label "
          [article]="article" [displaymode]="'vertical'" (click)="selectArticle(article)"> </app-card>
      </div>
      <!-- affichage HTML article selectionné -->
      <div class="col-md-10" *ngIf="selectedArticle && HTMLstring ">
        <app-page [article]="selectedArticle" [HTMLstring]="HTMLstring"> </app-page>
      </div>
    </div>

  </div>