<!-- <div class="container-fluid"> -->
<div class="card col-lg-8 col-md-10 col-sm-12 offset-md-2 text-start">
    <div class="card-header">
        <div class="row  align-items-center">
            <div class="col-8">
                <strong> ../{{current_folder}} </strong>
            </div>
            <div *ngIf="full_rights" class="col-4 ">
                <div class="input-group input-group-sm ">
                    <button type="button" class="btn btn-sm" (click)="createFolder()">
                        <i class="bi bi-folder-plus" id="actions"></i>
                    </button>
                    <input type="text" [(ngModel)]="new_folder" class="form-control">
                </div>
            </div>

        </div>

    </div>
    <div class="card-body">
        <div class="card-text">
            <!-- directory back button -->
            <div *ngIf="folder_level" class=" text-start px-1">
                <button type="button" class="btn btn-sm" (click)="folderUp()">
                    <i class="bi bi-arrow-90deg-up" id="actions"></i>
                </button>
            </div>
            <!-- <div *ngIf="!folder_level" class=" text-start px-1">
                    <button type="button" class="btn btn-sm">
                        <i class="bi bi-arrows"></i>
                    </button>
                </div> -->

            <!-- show folder's items -->
            <div class="row justify-content-between align-items-center" *ngFor="let item of folderItems ">
                <ng-container *ngIf="!item.__isFile">
                    <div class="col-9 ">
                        <button type="button" class="btn  h-100" (click)="folderDown(item)">
                            <i class="bi bi-folder-fill" style="color:rgb(212, 186, 36)"></i>
                        </button>
                        <span>{{item.key}}</span>
                    </div>
                    <div *ngIf="item.size === 0 && full_rights" class="col-1 offset-2 text-end">
                        <button type="button" class="btn  h-100" (click)="deleteDirectory(item)">
                            <i class="bi bi-trash3-fill" style="color:rgb(184, 38, 33)"></i>
                        </button>
                    </div>
                </ng-container>

                <ng-container *ngIf="item.__isFile">
                    <div class="col-9 ">
                        <button type="button" class="btn  h-100" (click)="selectFile(item)">
                            <i class="bi bi-file-fill" style="color:rgb(39, 167, 199)"></i>
                        </button>
                        <span>{{item.key}}</span>
                    </div>
                    <div class="col-2 text-end">
                        {{item.size | filesize}}
                    </div>
                    <div *ngIf="full_rights" class="col-1 text-end">
                        <button type="button" class="btn  h-100" (click)="deleteFile(item)">
                            <i class="bi bi-trash3-fill" style="color:rgb(184, 38, 33)"></i>
                        </button>
                    </div>

                </ng-container>

            </div>
            <!-- upload file button -->
            <div *ngIf="full_rights" class="input-group input-group-sm px-1">
                <button type="button" class="btn btn-sm" (click)="fileSelect.click()">
                    <i class="bi bi-file-earmark-plus" id="actions"></i>
                </button>
                <input #fileSelect type="file" (change)="uploadFile($event)" id="file-input" class="form-control">
            </div>
        </div>
    </div>


</div>
<!-- </div> -->