<!-- <app-headband [title]="page.label + '|' + page.description"> </app-headband> -->
<div class="container-fluid text-center  gx-0">
  <div class="col mt-1 mb-3">
    <h3>

      <span class="badge text-body-secondary">{{page.description}}</span>
    </h3>
  </div>

  <div class="card shadow ">
    <div *ngIf="page.viewer === 'SIDE'">
      <div class="row">
        <div class="col-4 mt-3">
          <ng-container *ngFor="let article of articles$ | async ">
            <app-carder *ngIf="article.id !== selectedArticle.id" class="col-lg-4" [article]="article"
              [editable]="false" [showLess]="true" (click)="selectArticle(article)">
            </app-carder>
          </ng-container>
        </div>

        <div class="col-8 text-start">
          <!-- selectedArticle.id : {{selectedArticle.id}} -->
          <app-carder *ngIf="selectedArticle" [article]="selectedArticle" [editable]="false" [showLess]="false">
          </app-carder>
        </div>

      </div>
    </div>

    <div *ngIf="page.viewer !== 'SIDE'" class="row justify-content-center ">
      <app-carder class="col-8" *ngFor="let article of articles$ | async " [article]="article" [editable]="false"
        [showLess]="false">
      </app-carder>
    </div>

  </div>
</div>