<app-headband [title]="page.label + '|' + page.description"> </app-headband>
<div class="container text-center">

  <ng-container *ngIf="page.viewer === 'slider'">
    <div class="row justify-content-left ">
      <app-carder class="col-lg-4" *ngFor="let article of articleList$ | async " [article]="article" [editable]="false"
        [showLess]="false" (click)="selectArticle(article)">
      </app-carder>
    </div>
  </ng-container>
  <div *ngIf="page.viewer !== 'slider'" class="row justify-content-center ">
    <app-carder class="col-8" *ngFor="let article of articles$ | async " [article]="article" [editable]="false"
      [showLess]="false">
    </app-carder>
  </div>
</div>