<!-- <app-headband [title]="page.label + '|' + page.description"> </app-headband> -->
<div class="container text-center mt-3">
  <div class="card shadow">
    <div class="card-header bg-light-subtle">
      <div class="row text-start">
        <!-- <div class="col">
          <h3>{{page.label}}</h3>
        </div> -->
        <div class="col">
          <h5>{{page.description}}</h5>
        </div>
      </div>
    </div>
    <div class="card-body">

      <div *ngIf="page.viewer === 'slider'">
        <div class="row">
          <div class="col-4 mt-3">
            <ng-container *ngFor="let article of articles$ | async ">
              <app-carder *ngIf="article.id !== selectedArticle.id" class="col-lg-4" [article]="article"
                [editable]="false" [showLess]="true" (click)="selectArticle(article)">
              </app-carder>
            </ng-container>
          </div>

          <div class="col-8">
            <!-- selectedArticle.id : {{selectedArticle.id}} -->
            <app-carder *ngIf="selectedArticle" [article]="selectedArticle" [editable]="false" [showLess]="false">
            </app-carder>
          </div>

        </div>
      </div>

      <div *ngIf="page.viewer !== 'slider'" class="row justify-content-center ">
        <app-carder class="col-8" *ngFor="let article of articles$ | async " [article]="article" [editable]="false"
          [showLess]="false">
        </app-carder>
      </div>

    </div>
  </div>