<!-- <app-dash-header title="publication" subtitle="édition d'article"></app-dash-header> -->
<div class="container">
  <form [formGroup]="articleForm">


    <div class="card bg-body-secondary shadow-effect m-5">
      <div class="row m-2">

        <div class="col-md-6 ">
          <div class="row mb-4 ">
            <!-- titre -->
            <div class="col-md-8">
              <label>Titre de l'article (10 caractères min)</label>
              <input type="text" class="form-control" formControlName="title"
                placeholder="Titre de l'article (10 caractères minimum)">
              <div *ngIf="fcontrols['title'].errors?.['required']">
                <div class="alert alert-danger" *ngIf="fcontrols['title'].touched && fcontrols['title'].invalid">
                  titre
                  obligatoire</div>
              </div>
              <div *ngIf="fcontrols['title'].errors?.['minlength']">
                <div class="alert alert-danger" *ngIf="fcontrols['title'].touched && fcontrols['title'].invalid">
                  titre de 10 caractères minimum</div>
              </div>
            </div>
            <!-- Page -->
            <div class="col-md-4">
              <label> Page</label>
              <select class="form-control" formControlName="pageId">
                <option value="" disabled selected>--page de rattachement--</option>
                <option *ngFor="let page of pages$ | async " [ngValue]="page.id"
                  [selected]="page.id === selectedPageId">
                  {{page.label}}</option>
              </select>
              <div *ngIf="fcontrols['pageId'].errors?.['required']">
                <div class="alert alert-danger" *ngIf="fcontrols['pageId'].touched && fcontrols['pageId'].invalid">
                  choisir la page de rattachement de l'article</div>
              </div>
            </div>
          </div>
          <!-- <div class="row"> -->
          <!-- URL banner_url -->
          <!-- <div class="row mb-4"> -->

          <div class="col-md-12">
            <label>Banière de l'article</label>
            <div class="input-group">
              <input type="text" class="form-control" formControlName="image_url"
                placeholder="URL de l'image de l'article">
              <!-- </div>
                  <div class="col-md-1"> -->
              <button type="button" class="btn btn-outline-primary btn-sm " (click)="fileSelect.click()">
                <i class="bi bi-image"></i>
                <!-- sélectionnez une image -->
              </button>
            </div>
          </div>
          <!-- </div> -->


          <!-- </div> -->
          <!-- head_html -->
          <div class="col-md-12">
            <div class="form-group">
              <label>résumé de l'article (20 caractères min)</label>
              <textarea class="form-control" formControlName="head_html"
                placeholder="Extrait de l'article (50 caractères minimum)" cols="3" rows="2"></textarea>
            </div>
            <div *ngIf="fcontrols['head_html'].errors?.['minlength']">
              <div class="alert alert-danger" *ngIf="fcontrols['head_html'].touched && fcontrols['head_html'].invalid">
                résumé de 20 caractères minimum</div>
            </div>
          </div>

        </div>

        <!-- selecteur &  viewer de l'image banner_url -->
        <div class="col-md-6">
          <input type="file" class="file-input" (change)="onFileSelected($event)" #fileSelect>
          <div class="row">
            <div class="col-md-12">
              <img [src]="imgBuffer" alt="" class="img-fluid">
            </div>
          </div>
        </div>

      </div>

      <!-- editeur : contenu de l'article -->
      <textarea id="myTextarea" class="row m-2"> </textarea>
    </div>

    <!-- bouton validation -->
    <div class="row">
      <div class="col-md-12 text-center pt-4">
        <button class="btn btn-primary" type="button" (click)="saveArticle()"
          [disabled]="!articleForm.valid && creationMode && image_urlValue !=''">Enregistrer</button>
        &nbsp;
        <button class="btn btn-info" (click)="navBack()">Abandonner</button>
      </div>
    </div>

  </form>
</div>