<div class="row ">

    <div class="bandeau ">
        <div class="row">
            <div class="col-md-2">

                <div class="card deco-gauche p-0">
                    <!-- <img class="img-fluid" src="../../../assets/images/bcsto.jpg" alt="image"> -->
                </div>
            </div>

            <div class="col-md-8  text-center my-auto">
                <h1> {{title}} </h1>
                <h3 *ngFor="let string of subtitle"> {{string}} </h3>
            </div>
            <div class="col-md-2 justify-content-end">
                <div class="card deco-droite p-0">

                </div>
            </div>
        </div>
    </div>
</div>