<div class="row ">

    <div class="bandeau ">
        <div class="row">
            <div class="col-md-3">
                <div class="card deco-gauche2 p-0 float-start"> </div>
                <div class="card deco-gauche p-0"> </div>

            </div>

            <div class="col-md-6  text-center my-auto">
                <h2> {{title}} </h2>
                <h5 *ngFor="let string of subtitle"> {{string}} </h5>
            </div>
            <div class="col-md-3 ">
                <div class="card deco-droite1 p-0 float-end"> </div>
                <div class="card deco-droite2 p-0 float-start"> </div>
            </div>
        </div>
    </div>