<div class="row ">
    <div class="col-md-9">

        <div id="active" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="dropped($event)"
            class="row row-cols-1 row-cols-md-6 justify-content-around g-2" [cdkDropListData]="pictures">
            <div id="draggable" cdkDrag *ngFor="let picture of pictures | orderBy:'rank':'asc' "
                [class]=" (picture?.orientation === 'ITALIAN') ? 'col col-md-2' : 'col col-md-3'">
                <app-edit-image class="card h-100" [picture]="picture"> </app-edit-image>
            </div>
        </div>
    </div>

    <div class="col-md-3">

        <div class="text-end mt-2 ">
            <button class="btn btn-sm btn-primary text-white " (click)="fileInput.click()">
                plus d'images</button>
            <input hidden multiple #fileInput type="file" (change)="pictureUpload($event)" />
        </div>
    </div>

</div>