<!-- <div class="container"> -->
<label class="col-form-label-sm pt-1">
    <i class="bi bi-grid-fill"></i>
    la collection d'images de l'article </label>
<div class="row justify-content-between">
    <!-- display des images de l'article -->
    <div class="col col-md-9">
        <div class="card shadow h-100 p-2">
            <div id="active" cdkDropList cdkDropListOrientation="horizontal" [cdkDropListConnectedTo]="['imagesBin']"
                (cdkDropListDropped)="dropped($event)" class="row justify-content-start h-100"
                [cdkDropListData]="pictures">
                <div id="draggable" cdkDrag *ngFor="let picture of pictures "
                    [class]=" (picture?.orientation === 'ITALIAN') ? 'col col-md-2' : 'col col-md-3'">
                    <app-edit-image class="card h-100" [picture]="picture"> </app-edit-image>
                </div>
            </div>
        </div>
        <div class="text-start mt-2 ">
            <button class="btn btn-sm btn-primary shadow text-white " (click)="fileInput.click()">
                ajouter une ou plusieurs images</button>
            <!-- <i class="bi bi-plus-circle-fill text-primary" (click)="fileInput.click()"></i> -->
            <input hidden multiple #fileInput type="file" (change)="pictureUpload($event)" />
        </div>
    </div>
    <!-- dropzone pour les images à supprimer -->
    <div class="col col-md-3">
        <div class="card h-100  recycle_bin">
            <div class="card-header py-1 text-center">images à supprimer</div>
            <div id="imagesBin" style="min-height: 150px;" cdkDropList cdkDropListOrientation="horizontal"
                [cdkDropListConnectedTo]="['active']" (cdkDropListDropped)="dropped($event)"
                class="row justify-content-start p-2" [cdkDropListData]="deleted_pictures">
                <div id="draggable" cdkDrag *ngFor="let picture of deleted_pictures " class="col col-md-6">
                    <app-edit-image class="card" [picture]="picture"> </app-edit-image>
                </div>
            </div>
        </div>
        <div class="text-center mt-2 ">
            <button class="btn btn-sm btn-outline-warning shadow " (click)="emptyTrash()">
                confirmer la suppression définitive</button>
        </div>

        <!-- </div> -->

    </div>
    <!-- </div> -->