<app-dash-header title="administration" subtitle="gestion des rubriques"></app-dash-header>

<div class="container p-2">

  <form [formGroup]="categoryForm">

    <table class="table table-responsive-sm align-items-center table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="col-md-1 text-center">rang</th>
          <th scope="col" class="col-md-1 ">menu</th>
          <th scope="col" class="col-md-1 text-center">type</th>
          <th scope="col" class="col-md-1">titre</th>
          <th scope="col" class="col-md-6">sous-titre</th>
          <th scope="col" class="col-md-1 text-center">nb articles</th>
          <th scope="col" class="col-md-1 text-center">action</th>
        </tr>
      </thead>
      <tbody>
        <tr [class]="category.fixed ? 'table-primary' : 'table-secondary'"
          *ngFor="let category of sortedCategories$ | async" (click)="selectCategory(category)">
          <td class="col text-center"> {{ category.rank }} </td>
          <td class="col-md-1"> {{ category.label }} </td>
          <td class="col text-center"> {{ category.fixed ? 'fixe' :
            'variable' }}
          </td>

          <td class="col"> {{ category.title }} </td>
          <td class="col">{{ category.description }}</td>
          <td class="col text-center">{{ articlesByCategoryId[category.label] }}</td>
          <td class="col text-center">
            <button type="button" class="btn btn-light btn-sm " [disabled]="category.fixed"
              (click)="deleteCategory($event,category)">
              <i class="bi bi-trash3" style="color:rgb(116, 5, 27)"></i>
            </button>
          </td>
        </tr>

        <tr>
          <td colspan="7"></td> <!-- saute une ligne -->
        </tr>

        <tr class="table-info px-0">
          <td class="col text-center ">
            <input type="text" class="formcontrol w-50" formControlName="rank" id="rank">
          </td>
          <td class="px-1"><input type="text" class="formcontrol " formControlName="label" id="label"
              [class.is-invalid]="label.invalid && (label.dirty || label.touched)"></td>

          <td class="px-1"><app-toggle-input formControlName="fixed"></app-toggle-input></td>

          <td class="px-1"><input type="text" class="formcontrol " formControlName="title" id="title"
              [class.is-invalid]="title.invalid && (title.dirty || title.touched)">
            <div class="invalid-feedback">
              un titre de rubrique doit être fourni
            </div>
          </td>
          <td class="px-1"><input type="text" class="formcontrol w-100" formControlName="description" id="description"
              [class.is-invalid]="description.invalid && (description.dirty || description.touched)">
            <div class="invalid-feedback">
              une descriptif doit être fourni
            </div>
          </td>
          <td class="col text-center">
            <button type="submit" class="btn btn-sm btn-primary text-white " (click)="cancel()">
              Annuler
            </button>
          </td>
          <td class="col text-center">
            <button *ngIf="createMode" type="submit" id="validation" class="btn btn-sm btn-primary text-white "
              (click)="createCategory()" [disabled]="categoryForm.invalid">
              Ajouter
            </button>

            <button *ngIf="!createMode" type="submit" id="validation" class="btn btn-sm btn-primary text-white "
              (click)="updateCategory()" [disabled]="categoryForm.invalid">
              Modifier
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- </div> -->
  </form>
  <div class="card col-6 offset-md-6 p-2">
    <div class="text-sm-start">
      <span class="fw-bold">rang :&nbsp;</span>
      <span>rang dans la barre de menu (menus fixes d'abord)</span>
    </div>
    <div class="text-sm-start">
      <span class="fw-bold">menu :&nbsp;</span>
      <span>le libellé dans la barre de menu</span>
    </div>
    <div class="text-sm-start">
      <span class="fw-bold">type : &nbsp;</span>
      <span>seuls les menus "fixes" sont obligatoires et non supprimables</span>
    </div>
  </div>

</div>