<div class="container.fluid p-3">
    <div class="row">

        <div class="col-md-3">
            <div class="card p-2 bg-body-secondary">

                <form [formGroup]="createForm">
                    <div class="row">

                        <div class="col-md-6">
                            <label>titre de l'article</label>
                            <input type="text" class="form-control" formControlName="title">
                        </div>
                        <div class="col-md-6">
                            <label>permalink</label>
                            <input type="text" class="form-control" formControlName="permalink">
                        </div>
                    </div>
                    <!-- </div> -->
                    <label>imageURL</label>
                    <input type="text" class="form-control" formControlName="image_url">
                    <div class="row">
                        <div class="col-8">
                            <label>headline</label>
                            <input type="text" class="form-control" formControlName="headline">
                        </div>

                    </div>
                </form>

                <div class="col-12">
                    édition partie body
                    <div class="row">
                        <div class="col-md-6">
                            <label> déplie :</label>
                            <button>
                                <i class="bi bi-chevron-expand" (click)="showMore = !showMore"></i>
                            </button>
                        </div>
                        <div class="col-md-6">
                            <label> édite :</label>
                            <input class="form-check-input" [(ngModel)]="editBody" (ngModelChange)="toggleEditBody()"
                                type="checkbox">
                        </div>
                    </div>

                </div>


                <!-- <div class="w-100" id="headArea">
                    heading line ...
                </div> -->
            </div>
        </div>

        <div *ngIf="data" class="col-md-6">
            <ng-template [ngTemplateOutlet]="event"></ng-template>
        </div>

        <div *ngIf="data" class="col-md-2">
            <ng-template [ngTemplateOutlet]="diapo"></ng-template>
        </div>
    </div>
</div>

<ng-template #diapo>
    <div class="card border-0 w-100 ">
        <div class="card-header text-center">
            <img [src]="data.image" class="card-img-portrait-top" alt="title">
        </div>
        <div class="card-body text-center">
            <span id="headArea" [innerHTML]="data.headline | safeHtml"> </span>

        </div>
    </div>
</ng-template>

<ng-template #event>
    <div class="card border-0 h-100 ">
        <div class="card-body">
            <div class="container ">
                <div *ngIf="!data.date">
                    <section #headArea id="headArea" [innerHTML]="data.headline | safeHtml"> </section>
                </div>

                <div *ngIf="data.date" class="hdate" [attr.data-hday]="data.date.getDate()"
                    [attr.data-hmonth]="getMonth(data.date)">
                    <section #headArea id="headArea" [innerHTML]="data.headline | safeHtml"> </section>
                </div>

                <!-- <div class="float-md-start me-4">
                        <img [src]="data.image" class="card-img-left" alt="bcsto">
                    </div> -->


                <div *ngIf="showMore" class="text-start ps-2">
                    <!-- <p> -->
                    <!-- <span #bodyArea id="bodyArea" [innerHTML]="data.body_html$ | async | safeHtml"></span> -->
                    <span #bodyArea id="bodyArea" [innerHTML]="data.body  "></span>

                    <!-- </p> -->
                </div>
            </div>
        </div>
    </div>
</ng-template>