<div class="container.fluid p-3">
    <div class="row">

        <div class="col-md-3">
            <div class="card p-2 bg-body-secondary">
                <form [formGroup]="createForm">
                    <!-- <div class="row"> -->

                    <div class="input-group-sm">
                        <label>titre de l'article</label>
                        <input type="text" class="form-control" formControlName="title">
                    </div>
                    <div class="input-group-sm">
                        <label>page de rattachement</label>
                        <input type="text" class="form-control" formControlName="pageId">
                    </div>
                    <!-- </div> -->
                    <!-- </div> -->
                    <label>image</label>
                    <div class="input-grou-sm">
                        <input type="file" id="file-input" name="file-input" (change)="fileSelected($event)" />
                        <label id="file-input-label" for="file-input" class="btn btn-outline-primary btn-sm">
                            <i class="bi bi-image"></i>
                            sélectionnez une image
                        </label>
                    </div>

                    <div class="input-group-sm">
                        <label>info complémentaire</label>
                        <input type="date" class="form-control" formControlName="info">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card p-2 bg-body-primary">
                <div class="row">
                    <div class="col">
                        <div class="input-group-sm">
                            <label> déplie :</label>
                            <button>
                                <i class="bi bi-chevron-expand" (click)="showMore = !showMore"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col">

                        <div class="input-group-sm">
                            <label> édite :</label>
                            <input class="form-check-input" [(ngModel)]="editBody" (ngModelChange)="toggleEditBody()"
                                type="checkbox">
                        </div>
                    </div>
                    <div class="col">

                        <button class="btn btn-outline-primary btn-sm" (click)="saveArticle()">save</button>
                    </div>
                </div>
            </div>
            <div class="row p-2">

                <div *ngIf="data" class="col-md-6">
                    <ng-template [ngTemplateOutlet]="event"></ng-template>
                </div>

                <div *ngIf="data" class="col-md-2">
                    <ng-template [ngTemplateOutlet]="diapo"></ng-template>
                </div>
            </div>
        </div>

    </div>
</div>

<ng-template #diapo>
    <div class="card border-0 w-100 ">
        <div class="card-header text-center">
            <img [src]="data.pictures![0].uri" class="card-img-portrait-top" alt="title">
        </div>
        <div class="card-body text-center">
            <span id="headArea" [innerHTML]="data.headline | safeHtml"> </span>

        </div>
    </div>
</ng-template>

<ng-template #event>
    <div class="card border-0 h-100 ">
        <div class="card-body">
            <div class="container ">
                <div *ngIf="!data.date">
                    <section #headArea id="headArea" [innerHTML]="data.headline | safeHtml"> </section>
                </div>

                <div *ngIf="data.date" class="hdate" [attr.data-hday]="data.date.getDate()"
                    [attr.data-hmonth]="getMonth(data.date)">
                    <section #headArea id="headArea" [innerHTML]="data.headline | safeHtml"> </section>
                </div>

                <!-- <div class="float-md-start me-4">
                        <img [src]="data.image" class="card-img-left" alt="bcsto">
                    </div> -->


                <div *ngIf="showMore" class="text-start ps-2">
                    <!-- <p> -->
                    <!-- <span #bodyArea id="bodyArea" [innerHTML]="data.body_html$ | async | safeHtml"></span> -->
                    <span #bodyArea id="bodyArea" [innerHTML]="data.body  "></span>

                    <!-- </p> -->
                </div>
            </div>
        </div>
    </div>
</ng-template>