<p>cleanup utility</p>
<button *ngIf="orphanExists" class="btn btn-danger" (click)="deleteOrphanPictures()"> supprimer les vignettes
  orphelines</button>
<div *ngIf="pictures">
  <thead>
    <tr>
      <!-- <th scope="col" class="col-2">#</th> -->
      <th scope="col" class="col-1">image</th>
      <th scope="col" class="col-2">captions</th>
      <!-- <th scope="col" class="col-2">caption2</th> -->
      <th scope="col" class="col-2">orientation</th>
      <th scope="col" class="col-6">stockage S3</th>
      <th scope="col" class="col-1"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let picture of pictures ; let i=index">
      <!-- <th scope="row">{{i+1}}</th> -->
      <td class="col"> <img class="img-fit" [src]="geturi(picture.filename) | async"> </td>
      <td class="col">{{picture.caption1}} <br> {{picture.caption2}}</td>
      <td class="col">{{picture.orientation}}</td>
      <td class="col">{{picture.filename}}</td>
      <td class="col text-danger">{{isOrphan(picture) ? 'orpheline !' : ''}}</td>
    </tr>
  </tbody>

</div>