<div *ngIf="pictures$" class="row mt-2">
  <div class="col-8">
    <form [formGroup]="pictureForm">
      <table class="table table-responsive-sm align-items-center table-hover">

        <thead>
          <tr>
            <th scope="col" class="col-2">image</th>
            <th scope="col" class="col-2">orientation</th>
            <th scope="col" class="col-1">rank</th>
            <th scope="col" class="col-6">article</th>
            <th scope="col" class="col-1">action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-2"> <img *ngIf="selectedPicture" class="img-fit"
                [src]="geturi(selectedPicture.filename) | async"> </td>
            <td class="col-2">
              <app-icons-toggler-input [options]="options" formControlName="orientation"></app-icons-toggler-input>
            </td>
            <td class="col-1">
              <input type="number" formControlName="rank" class="form-control">
            </td>

            <td class="col-6">
              <select formControlName="articleId" class="w-100" (change)="onArticleChange()">
                <option *ngFor="let article of articles$ | async" [value]="article.id">{{article.title}} </option>
              </select>
            </td>
            <td class="col-1 text-center">
              <i class="bi bi-check-square-fill text-primary" (click)="updatePicture()"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </form>

    <!-- </div>
  <div class="col-6"> -->

    <table class="table table-striped table-hover table-fixed">
      <thead>
        <tr>
          <th class="col-2">image</th>
          <th class="col-2">orientation</th>
          <th class="col-1">rank</th>
          <th class="col-6">article</th>

          <th class="col-1">action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let picture of pictures$ | async " (click)="selectPicture(picture)">
          <td class="col-2"> <img class="img-fit" [src]="geturi(picture.filename) | async"> </td>
          <td class="col-2 text-center">
            <i [class]="getIcon(picture.orientation!)"></i>
          </td>
          <td class="col-1">{{picture.rank}}</td>

          <td class="col-6">{{checkArticle(picture.articleId) ?? '??'}}</td>
          <td class="col-1">
            <i *ngIf="!checkArticle(picture.articleId)" (click)="deletePicture(picture)"
              class="bi bi-trash-fill text-danger"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>