.hdate {
    position: relative;
    left: 58px;
    text-rendering: auto;
    // width: -moz-calc(100% - 48px);
    // width: -webkit-calc(100% - 48px);
    width: calc(100% - 58px);
    min-height: 51px;
}

.hdate::before {
    content: attr(data-hmonth);
    position: absolute;
    left: -58px;
    background: rgb(230, 17, 17);
    color: white;
    text-align: center;
    font-size: 14px;
    width: 44px;
    height: 17px;
    line-height: 17px;
    vertical-align: bottom;
    padding: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 2px 2px 2px rgb(178, 178, 178);
}

.hdate::after {
    content: attr(data-hday);
    position: absolute;
    left: -58px;
    top: 17px;
    background: rgb(249, 247, 211);
    // background: linear-gradient(to bottom, rgb(249, 247, 211), rgb(172, 211, 71));
    color: rgb(77, 77, 77);
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    width: 44px;
    height: 24px;
    line-height: 24px;
    padding: 0 0 1px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 2px 2px 2px rgb(178, 178, 178);
}