<div id="mainNavigation">
  <!-- bandeau adresse  -->
  <nav role="navigation">
    <div class="text-center fw-light fs-6 border-bottom bg-warning ">
      <div class="row">
        <div class="col-md-3">
          <span>Bridge Club de Saint-Orens </span>
        </div>
        <div class="col-md-6">
          <span>
            <i class="bi bi-geo-alt"></i>
            13,boulevard du libre échange
          </span>
          <span class="text-nowrap">&nbsp; 31650 Saint-Orens de Gameville</span>
        </div>
        <div class="col-md-3">
          <i class="bi bi-telephone"></i>
          <span>&nbsp;05 61 39 00 39</span>
        </div>
      </div>
    </div>
  </nav>

  <!-- bandeau menu -->
  <div class="navbar  navbar-expand-lg bg-success navbar-dark ps-md-5 pe-md-5">
    <div class="container-fluid">

      <!-- brand logo -->
      <a class="navbar-brand " routerLinkActive="active-link" routerLink="home">BCSTO</a>

      <!-- toggler button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- collapsible bar -->
      <div class="collapse navbar-collapse fs-5 " id="collapsibleNavbar">
        <ul class="navbar-nav mx-auto ">

          <!-- boucle sur les rubriques -->
          <ng-container *ngFor="let category of categories$ | async">
            <li class="nav-item mx-2">
              <a class="nav-link " routerLinkActive="active-link"
                routerLink="category/{{category.id}}">{{category.label}}</a>
            </li>
          </ng-container>


          <!-- login -->

          <li *ngIf="!logged" class="d-flex">
            <button type="button" class="btn btn-primary" routerLink="login">
              <i class="bi bi-person-circle"></i>
              MON ESPACE
            </button>
          </li>

          <!-- <li *ngIf="logged" class="d-flex"> -->
          <li *ngIf="logged" class="nav-item mx-2 dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{loggedusername}}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Mes données</a></li>
              <li class="dropdown-item" (click)="onLogout()">
                <button type="button" class="btn btn-primary">
                  <i class="bi bi-box-arrow-left"></i>
                </button>
                Déconnexion

              </li>
            </ul>

          </li>

          <!-- menu métier  -->
          <li class="nav-item mx-2 dropdown" *ngIf="logged">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Administration</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="dashboard/members">Adhérents</a></li>
              <li><a class="dropdown-item" href="#">Accueil tournoi</a></li>
              <li><a class="dropdown-item" href="#">Autres paiements</a></li>
            </ul>
          </li>
          <li class="nav-item mx-2 dropdown" *ngIf="logged">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Publications </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="dashboard/articles">Articles</a></li>
              <li><a class="dropdown-item" routerLink="dashboard/categories">Rubriques</a></li>
              <li><a class="dropdown-item" routerLink="dashboard/files">Gestion fichiers</a></li>
            </ul>
          </li>

          <li class="nav-item ">
            <a class="nav-link mx-2" routerLinkActive="active-link" routerLink="dashboard/test">test</a>
          </li>


        </ul>
      </div>
    </div>
  </div>
</div>


<div class="navplayground">
  <div class="container p-2">
    <router-outlet></router-outlet>
  </div>
</div>