<!-- bandeau menu -->
<div class="navbar  navbar-expand-lg bg-success navbar-dark ps-md-1 pe-md-1">
  <div class="container-md g-1">
    <!-- brand logo -->
    <a class="navbar-brand " routerLinkActive="active-link" routerLink="home">
      <img class="img-fluid " src="../../../assets/images/bcsto.jpg" alt="bcsto">
      <!-- <i class="bi bi-house-fill"></i> -->
    </a>

    <!-- toggler button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- collapsible bar -->
    <div class="collapse navbar-collapse fs-5  justify-content-around" id="collapsibleNavbar">
      <ul class="navbar-nav">

        <!-- contact  -->

        <li class="nav-item ">
          <a class="nav-link mx-2" routerLinkActive="active-link" routerLink="cat/Contact">Contact</a>
        </li>
        <!-- liens utiles -->
        <li class="nav-item ">
          <a class="nav-link mx-2" routerLinkActive="active-link" routerLink="links">Liens</a>
        </li>

        <!-- boucle sur les rubriques (à l'exception de home,contact et liens)-->
        <ng-container *ngFor="let category of sortedCategories$ | async">
          <li class="nav-item mx-2">
            <a class="nav-link " routerLinkActive="active-link"
              routerLink="cat/{{category.label}}">{{category.label}}</a>
          </li>
        </ng-container>


        <!-- login -->

        <li *ngIf="!isLogged" class="nav-item">
          <!-- <button type="button" class="btn btn-primary" routerLink="login"> -->
          <!-- <i class="bi bi-person-circle"></i> -->
          <a class="nav-link mx-2" routerLinkActive="active-link" routerLink="login">Se connecter</a>
        </li>

        <li *ngIf="isLogged" class="nav-item mx-5 dropdown">
          <a class="nav-link dropdown-toggle " role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <button type="button" class="btn  btn-sm btn-primary">
              <i class="bi bi-person-circle"></i>
            </button>
            {{loggedusername}}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="me">Mes données</a></li>
            <li class="dropdown-item" (click)="onLogout()">
              <button type="button" class="btn btn-primary">
                <i class="bi bi-box-arrow-left"></i>
              </button>
              Déconnexion

            </li>
          </ul>

        </li>

        <!-- menu métier  -->
        <li class="nav-item mx-2 dropdown" *ngIf="isAdmin">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Administration</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="dashboard/admin/members">Adhérents</a></li>
            <li><a class="dropdown-item" href="#">Accueil tournoi</a></li>
            <li><a class="dropdown-item" href="#">Autres paiements</a></li>
          </ul>
        </li>
        <li class="nav-item mx-2 dropdown" *ngIf="isPublisher">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Publication </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="dashboard/publisher/articles">Articles</a></li>
            <li><a class="dropdown-item" routerLink="dashboard/publisher/categories">Catégories</a></li>
            <li><a class="dropdown-item" routerLink="dashboard/publisher/files">Fichiers</a></li>
          </ul>
        </li>
        <!-- menu tests -->
        <li class="nav-item mx-2 dropdown" *ngIf="test_links">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tests </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="dashboard/tests/tiny">tiny</a></li>
            <li><a class="dropdown-item" routerLink="dashboard/tests/rights">rights</a></li>
          </ul>
        </li>


      </ul>
    </div>
  </div>
</div>