<div class="container-fluid">
    <div class="row">
        <div class="col col-md-12">

            <div class="row">
                <div class="col-md-3">
                    <app-list-menus (select)="select_menu($event)"></app-list-menus>
                </div>
                <div class="col-md-3 ">
                    <app-list-pages [menu]="selected_menu" (select)="select_page($event)"> </app-list-pages>
                </div>
                <div *ngIf="selected_page" class="col-md-3">
                    <app-edit-page [(page)]="selected_page"></app-edit-page>
                </div>
                <div *ngIf="selected_page" class="col-md-3">
                    <app-list-articles [page]="selected_page" (select)="select_article($event)"></app-list-articles>
                    <app-articles-trash></app-articles-trash>
                </div>

            </div>
        </div>
        <!-- <div class="col-md-3">
        </div> -->
    </div>

    <div class="col col-md-9 offset-md-3 mt-2">
        <app-edit-article *ngIf="selected_article" [article]="selected_article"></app-edit-article>
        <div *ngIf="selected_article && selected_article.layout==='Textual'">
            <app-edit-body [article]="selected_article"></app-edit-body>
        </div>
        <div *ngIf="selected_article && selected_article.layout==='Pictural'">
            <app-list-images [article]="selected_article"></app-list-images>
        </div>
        <div *ngIf="selected_article && selected_article.layout==='File'" les fichiers>
            <app-list-files [article]="selected_article"></app-list-files>
        </div>
    </div>
</div>