<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <app-list-menus (select)="select_menu($event)"></app-list-menus>
        </div>
        <div class="col-md-3 ">
            <app-list-pages [menu]="selected_menu" (select)="select_page($event)"> </app-list-pages>
        </div>
        <div *ngIf="selected_page" class="col-md-3">
            <app-edit-page [(page)]="selected_page"></app-edit-page>
        </div>
        <div *ngIf="selected_page" class="col-md-3">
            <app-list-articles [page]="selected_page" (select)="select_article($event)"></app-list-articles>
        </div>
    </div>
    <hr>
    <div *ngIf="selected_page" class="offset-md-2 col-md-10">
        <app-edit-articles [page]="selected_page"></app-edit-articles>
    </div>
</div>