<div *ngIf="article && category" class="container p-1">

  <div class="row justify-content-center">


    <div class="col-md-6">
      <h1>{{article.title}}</h1>
      <h5 class="text-body-secondary ">{{article.summary}}</h5>
    </div>
    <div class="col-md-6">
      <img [src]="signedURL" class="card-img-top" alt="bcsto">
      <p class="text-lowercase text-black-50 ">
        publié le : {{article.createdAt | date: 'dd/MM/yy' }} &nbsp;
        {{hasBeenUpdated ? ' dernière mise à jour le : ' + (article.updatedAt | date: 'dd/MM/yy') : ''}}
      </p>
    </div>

  </div>

  <br>

  <div class="d-flex">
    <div [innerHTML]="article.body | safeHtml"></div>
  </div>



</div>