<div *ngIf="article && category" class="card shadow-lg">
  <div class="card-header">
    <h4 class="card-title">{{article.title}}</h4>
    <!-- <h6 class="border-bottom"></h6> -->
    <h6 class="card-subtitle mb-2 ms-2 text-body-secondary ">{{article.summary}}</h6>

  </div>
  <img src="assets\images\Image1.jpg">
  <div class="card-body">
    <!-- <div class="row">
      <p class="col-6 text-lowercase text-black-50 text-center fs-6">{{category.label}}</p>
    </div> -->
    <!-- <h6 class="border-bottom"></h6> -->

    <p class="card-text" [innerHTML]="article.body | safeHtml"></p>

  </div>
  <div class="card-footer text-body-secondary">
    <p class="text-lowercase text-black-50 ">
      première publication : {{article.createdAt | date: 'dd/MM/yy' }} &nbsp;
      {{hasBeenUpdated ? ' mise à jour : ' + (article.updatedAt | date: 'dd/MM/yy') : ''}}
    </p>
  </div>
</div>