.move-up {
    // padding-top:                     1rem;
    max-width: 25vh;
    max-height: 15vh;
    object-fit: cover;
    transform: translate(0%, -65px);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.text-move-up {
    // background-color: blue;
    margin-top: -65px;
    flex: auto;
}

#star {
    color: rgb(19, 179, 81);
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));

}