<form [formGroup]="dirForm" (ngSubmit)="onSubmit()">
    <div class="modal-header">
        <div class="col">

            <div>
                <h5 class="modal-title" id="modal-basic-title">
                    <h6>donner le nom du répertoire associé</h6>
                </h5>
            </div>

            <div class="modal-body">
                <select class="form-control" formControlName="directory">
                    <option *ngFor="let folder of folderItems" (click)="folderDown(folder)" [value]="folder.key">
                        {{folder.key}}</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Valider</button>
        </div>
    </div>
</form>