<div *ngIf="menu">
    <label class="col-form-label-sm pt-1">
        <i class="bi bi-grid-fill"></i>
        les sous-menus
    </label>

    <ul class="list-group shadow" cdkDropList (cdkDropListDropped)="dropped($event)" [cdkDropListData]="filtered_pages">
        <li cdkDrag *ngFor=" let page of filtered_pages "
            [class]=" 'list-group-item py-1 movable' + ((selected_page && page.id === selected_page.id) ?' bg-secondary text-white' :'') "
            (click)="select_page(page)">
            {{strip_order(page.label)}}
        </li>
    </ul>
    <div *ngIf="menu" class="text-start mt-2 ">
        <button class="btn btn-sm btn-primary shadow text-white w-100" (click)="onCreate()">ajouter un autre
            sous-menu</button>
    </div>
</div>