<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col col-md-6">
      <div class="card">

        <!-- <img src="./assets/images/Image1.jpg" class="card-img-top" alt="Image1"> -->
        <div class="card-body ">

          <div class="row">
            <span class="h3 text-center pb-4">
              <!-- <i class="bi bi-lock-fill"></i> -->
              création d'un compte</span>
          </div>
          <br>

          <form [formGroup]="signupForm">
            <div class="col">


              <div class="row">
                <div class="col form-group form-outline mb-4">
                  <label class="form-label">n° de licence</label>
                  <input type="text" class="form-control form-control-sm" formControlName="license" />
                </div>

                <div class="col form-group form-outline mb-4">
                  <label class="form-label">addresse mail :</label>
                  <input type="email" class="form-control form-control-sm" formControlName="email" />
                </div>
              </div>

              <div class="row">
                <div class="col form-group form-outline mb-4">
                  <label class="form-label">prénom :</label>
                  <input type="email" class="form-control form-control-sm" formControlName="firstname" />
                </div>

                <div class="col form-group form-outline mb-4">
                  <label class="form-label">nom :</label>
                  <input type="text" class="form-control form-control-sm" formControlName="lastname" />
                </div>
              </div>
              <ng-container *ngIf="memberConfirmed">

                <div class="row">
                  <div class="col form-group form-outline mb-4">
                    <label class="form-label">username (pseudo) :</label>
                    <input type="email" class="form-control form-control-sm" formControlName="username" />
                  </div>

                  <div class="col form-group form-outline mb-4">
                    <label class="form-label">mot de passe :</label>
                    <input type="password" class="form-control form-control-sm" formControlName="password" />
                  </div>
                </div>
              </ng-container>

              <!-- <div class="row"> -->
              <div class="d-grid ">
                <button class="btn btn-sm btn-primary " type="button" *ngIf="!memberFound " (click)="onSearch()">trouvez
                  moi !</button>
                <button class="btn btn-sm btn-primary " type="button" *ngIf="memberFound && !memberConfirmed"
                  (click)="onConfirm()">c'est bien moi !</button>
                <button class="btn btn-sm btn-primary " type="button" *ngIf="memberConfirmed"
                  (click)="onSignup()">enregistrez moi !</button>
              </div>
              <!-- </div> -->
            </div>
          </form>


          <div class="row text-center m-3">
            <!-- <div class="col">
                <a class="small text-muted" href="">Mot de passe oublié ?</a>
              </div>
              <div class="col">
                <a class="small text-muted" routerLink="/signin">Pour avoir un compte </a>
              </div> -->

          </div>
          <!-- <a href="#!" class="small text-muted">Terms of use.</a>
                <a href="#!" class="small text-muted">Privacy policy</a> -->
          <!-- {{userId}}
            <button class="btn btn-lg btn-primary " type="button" (click)="getRoles()">vos roles</button> -->

        </div>
        <!-- </div> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
<!-- </section> -->