<div class="card col-md-3">
  <!-- <label for="file">sélectionnez un fichier ... </label> -->
  <input type="file" class="file-input" (change)="onFileSelected($event)" #fileSelect>

  <button type="button" class="btn btn-primary btn-sm " (click)="fileSelect.click()">
    <i class="bi bi-paperclip"></i>
    sélectionnez une image
  </button>

  <img [src]="preview" alt="" class="img-fluid">

  <button type="button" [disabled]="!filename" class="btn btn-primary btn-sm " (click)="upload()">
    <i class="bi bi-cloud-arrow-up"></i>
    validez l'image
  </button>
</div>

<div class="card col-md-8">
  <div class="card-header">
    <span>files</span>
  </div>
  <div *ngIf="filesystem" class="card-body">
    <ul>
      <li *ngFor="let file of filesystem.files">
        <p (click)="download(file.key)"> {{file.key}} </p>
      </li>
    </ul>
  </div>
</div>

<div *ngIf="loadedImg" class="card col-md-8">
  <img [src]="loadedImg" alt="" class="img-fluid">
</div>

<form [formGroup]="form">

  <div class="row align-items-center">
    <div class="col-auto">
      <label for="inputToggler" class="col-form-label"> publié</label>
    </div>
    <div class="col-auto">
      <app-toggle-input formControlName="toggler" id="inputToggler"></app-toggle-input>
    </div>
  </div>

</form>

{{toggler}}

<p> **************user logged**************</p>

{{loggedUser | json}}


<!-- <p> **************tinyMCE**************</p>
<form [formGroup]="form">

  <editor formControlName="body" [init]="{ 
    base_url: '/tinymce',
    suffix: '.min',
    plugins: 'lists link image table code help wordcount',
    toolbar: 'undo redo | bold italic underline strikethrough | fontfamily fontsize blocks | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview  | insertfile image  template link ',
    menubar: false,
    min_height: 150,
   }"> </editor>

</form> -->