<div class="container text-md-center">

  <div class="col-md-12">
    <h3 class="text-center "> Gestion des articles </h3>
    <br>
  </div>


  <div class="col-md-12">

    <table class="table align-items-center table-hover">
      <thead class="thead-light">
        <tr>
          <!-- <th scope="col" class="col-md-2">vignette</th> -->
          <th scope="col" class="col-md-3">titre</th>
          <th scope="col" class="col-md-3">résumé...</th>
          <th scope="col" class="col-md-1">categorie</th>
          <th scope="col" class="col-md-1">date</th>
          <th scope="col" class="col-md-1">publié</th>
          <th scope="col" class="col-md-1">actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of articles$ | async ; let i = index">
          <!-- <td>{{i+1}}</td> -->
          <!-- <td><img src="{{ article.imgPath }}" class="img img-fluid" alt="vignette" width="100px"></td> -->
          <td>{{ article.title }}</td>
          <td>{{ article.summary | slice :0:100}} ....</td>
          <td>{{ article.category!.label ? article.category?.label! : ''}}</td>
          <td>{{ article.createdAt| date : 'dd/MM/yyyy' }}</td>
          <td>{{ article.isPublished }}</td>
          <td>
            <div class="btn-toolbar justify-content-end">
              <button type="button" class="btn btn-sm btn-outline-danger" (click)="onDelete(article.id)">
                <i class="bi bi-trash"></i>
              </button>
              <div class="mtauto "> &nbsp; </div>
              <button type="button" class="btn btn-sm btn-outline-primary" routerLink="new">
                <i class="bi bi-pencil-square"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td>
            <div class="btn-toolbar justify-content-end ">

              <button type="button" class="btn btn-sm btn-outline-primary " routerLink="new">
                <i class="bi bi-plus-circle"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>


</div>