<div *ngIf="articlesDBloaded" class="container-md">

  <div class="col-md-12">
    <h3 class="text-center "> Gestion des articles </h3>
    <br>
  </div>

  <!-- </div> -->

  <!-- <div class="container"> -->
  <div class="col-md-12 ">
    <div class="table-responsive m-3">

      <table class="table align-middle table-hover table-bordered">
        <thead class="thead-light">
          <tr>
            <!-- <th scope="col" class="col-md-2">vignette</th> -->
            <th scope="col"></th>
            <th scope="col">titre</th>
            <th scope="col">affiche</th>
            <th scope="col">résumé</th>
            <th scope="col">catégorie</th>
            <th scope="col">affecté</th>
            <th scope="col">création</th>
            <th scope="col">public</th>
            <th scope="col">vedette</th>
            <th scope="col"></th>
            <!-- <th scope="col">actions</th> -->
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let article of articles$ | async ">
            <td>
              <button type="button" class="btn btn-sm btn-danger" (click)="onDelete(article)">
                <i class="bi bi-trash"></i>
              </button>
            </td>
            <td>{{ article.title }}</td>
            <!-- <td>{{ article.banner }}</td> -->
            <img [src]="getBannerURL(article)" class="img" alt="bcsto">
            <td>{{ article.summary }} ....</td>
            <td [class]="article.assigned ? ' ' : 'text-decoration-line-through fst-italic'">{{ article.category!.label
              ?
              article.category?.label! : ''}}</td>
            <td>
              <app-toggle-input [(ngModel)]="article.assigned" (click)="onPublish(article)"></app-toggle-input>
            </td>
            <td>{{ article.createdAt| date : 'dd/MM/yyyy' }}</td>
            <td>
              <app-toggle-input [(ngModel)]="article.public" (click)="onPublish(article)"></app-toggle-input>
            </td>
            <td>
              <app-toggle-input [(ngModel)]="article.featured" (click)="onPublish(article)"></app-toggle-input>
            </td>
            <td>
              <button type="button" class="btn btn-sm btn-primary" (click)="onUpdate(article)">
                <i class="bi bi-pencil-square"></i>
              </button>
            </td>

          </tr>
        </tbody>
        <tfoot>

          <td colspan="10">
            <div class="btn-toolbar justify-content-end ">
              ajout d'un nouvel article :&nbsp;&nbsp;&nbsp;
              <button type="button" class="btn btn-sm btn-primary " (click)="onCreate()">
                <i class="bi bi-plus-circle"></i>
              </button>
            </div>
          </td>
        </tfoot>
      </table>
    </div>
  </div>


  <div class="card col-6 offset-md-6 p-2">
    <div class="text-sm-start">
      <span class="fw-bold">affecté :&nbsp; </span>
      <span>l'article sera (ou pas) appelé par sa page-catégorie</span>
    </div>
    <div class="text-sm-start">
      <span class="fw-bold">public : &nbsp;</span>
      <span>l'article sera (ou pas) visible même par une personne même non inscripte</span>
    </div>
    <div class="text-sm-start">
      <span class="fw-bold">vedette :&nbsp;</span>
      <span>l'article sera (ou pas) appelé par la page une i.e. "home" ou "BCSTO"</span>
    </div>
  </div>

</div>