<div class="container-fluid ">

    <div class="card m-2">
        <form [formGroup]="pageForm">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <label> racine </label>
                        <input type="text" class="form-control" formControlName="root_menu">
                    </div>
                    <div class="col">
                        <label> menu </label>
                        <input type="text" class="form-control" formControlName="label">
                    </div>
                    <div class="col">
                        <label> descriptif </label>
                        <input type="text" class="form-control" formControlName="description">
                    </div>
                    <div class="col">
                        <label> type</label>
                        <input type="text" class="form-control" formControlName="viewer">
                    </div>
                    <div class="col">
                        <div class="row justify-content-space-between">
                            <label>nb articles : {{(articles$ | async)? (articles$ | async)!.length : 0}}</label>
                            <label> ajout :
                                <i class="bi bi-plus-circle-fill text-primary text-xl-start"
                                    (click)="createArticle()"></i>
                            </label>
                        </div>
                    </div>

                </div>

            </div>

        </form>

    </div>


    <!-- emulation of pager comp -->
    <div class="row justify-content-between p-2">

        <ng-container class="row justify-content-center" *ngFor="let item of articles ; let i = index">

            <div class="col-2 align-content-center ">
                <div class="row text-end">
                    <i class="bi bi-arrow-up-square-fill text-primary" (click)="up(i)"></i>
                </div>
                <div class="row text-end">
                    <i class="bi bi-arrow-down-square-fill text-primary" (click)="down(i)"></i>
                </div>
                <div class="row text-end">
                    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#infoModal"> -->
                    <i class="bi bi-info-square-fill text-primary" (click)="updateArticleInfo(item)"
                        data-bs-target="#infoModal"></i>
                    <!-- </button> -->
                </div>
            </div>

            <div class="col-8 article">
                <app-carder [article]="item" [editable]="edit_mode && item.id == selected_article.id"
                    (click)="openEditors(item)">
                </app-carder>
            </div>

            <div class="col-2 align-content-center">
                <div class="row text-start">
                    <i id="delete" class="bi bi-trash3-fill" style="color:rgb(171, 19, 19)"
                        (click)="deleteArticle(item)"></i>
                </div>
            </div>
            <!-- </div> -->
        </ng-container>
        <!-- </div> -->
    </div>
</div>


<!-- Modal -->