<div class="container-fluid ">
  <div class="row">
    <div class="col-2 bg-success-subtle mt-2">
      <!-- <p>{{current_page.root_menu}}</p> -->
      <h6 class="text-dark mt-2">ajout d'un paragraphe à la page: "{{current_page.label}}" </h6>

      <hr>


      <ul class="list-group list-group-flush ">
        <li class="list-group-item bg-success-subtle w-100">
          <button type="button" class="btn btn-sm btn-primary" (click)="createArticle('Textual')">
            <i class="bi bi-card-text"></i>
            <span> Titre & article </span>
          </button>
        </li>
        <li class="list-group-item bg-success-subtle w-100">
          <button type="button" class="btn btn-sm btn-primary" (click)="createArticle('Pictural')">
            <i class="bi bi-card-image"></i>
            <span> Sujet et image(s) </span>
          </button>
        </li>
        <li class="list-group-item bg-success-subtle w-100">
          <button type="button" class="btn btn-sm btn-primary" (click)="createArticle('File')">
            <i class="bi bi-file-pdf-fill"></i>
            <span>Dossier et fichier(s) </span>
          </button>
        </li>
      </ul>
    </div>


    <div class="col-10">
      <div class="row justify-content-between p-2">

        <ng-container class="row justify-content-center" *ngFor="let article of articles ; let i = index">
          <!-- article's edit tools -->
          <div class="col-2 ">
            <div class="row fs-6  text-end justify-content-end me-2">
              {{article.layout}}
            </div>
            <div class="row justify-content-end">

              <div class="col-auto align-self-end">
                <div class="row text-end">
                  <i class="bi bi-arrow-up-square-fill text-primary" (click)="up(i)"></i>
                </div>
                <div class="row text-end">
                  <i class="bi bi-arrow-down-square-fill text-primary" (click)="down(i)"></i>
                </div>
              </div>

              <div class="col-auto align-self-end">
                <div *ngIf="article.layout ==='Pictural'" class="row text-end">
                  <i class="bi bi-file-image-fill text-primary" (click)="fileInput.click()"></i>
                  <input hidden multiple #fileInput type="file" (change)="pictureUpload($event,article)" />
                </div>
                <div *ngIf="article.layout ==='Textual'" class="row text-end">
                  <i class="bi bi-calendar2-date-fill text-primary" (click)="setDate(article)"></i>
                </div>
                <div *ngIf="article.layout ==='File'" class="row text-end">
                  <i class="bi bi-file-earmark-check-fill text-primary" (click)="validateDirectory(article)"></i>
                </div>
              </div>
            </div>
          </div>

          <!-- affichage contenu -->
          <div class="col-8 article">
            <app-carder [article]="article"
              [editable]="current_article !== undefined && article.id === current_article.id && !force_editor_reload"
              (click)="cardClickHandler(article)" (pictureClick)="pictureClickHandler($event)"
              (directoryClick)="directorySelectHandler($event)">
            </app-carder>
          </div>

          <div class="col-2 align-content-center">
            <div class="row text-start">
              <i id="delete" class="bi bi-trash3-fill" style="color:rgb(171, 19, 19)"
                (click)="deleteArticle(article)"></i>
            </div>
          </div>
          <!-- </div> -->
        </ng-container>
        <!-- </div> -->
      </div>

    </div>
  </div>
</div>