<div [class]="'navbar  navbar-expand-lg navbar-dark rounded-2 ' + (frontMenuShow ? 'bg-success' : 'bg-secondary')">
  <div class="container">
    <!-- toggler button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- brand logo -->
    <a *ngIf="frontMenuShow" class="navbar-brand " routerLinkActive="active-link" [routerLink]=" ['front/home']">
      <!-- <img class="img-fluid " src="../../../assets/images/bcsto.jpg" alt="bcsto"> -->
      <i class="bi bi-house-fill"></i>
    </a>
    <a *ngIf="!frontMenuShow" class="text-white text-decoration-none">Outils Administrateur</a>

    <!-- collapsible bar -->
    <div class="collapse navbar-collapse fs-5  justify-content-center" id="collapsibleNavbar">

      <!-- frontend menu -->
      <ul [id]="frontMenuShow ? 'show' : 'noShow'" class="navbar-nav">

        <!-- menu customisable -->
        <ng-container *ngFor="let item of menuItems | keyvalue">
          <li *ngIf="item.value.length === 1" class="nav-item ">
            <a class="nav-link mx-2" routerLinkActive="active-link"
              [routerLink]="[item.value[0].route_path]">{{item.value[0].label}}</a>
          </li>

          <li *ngIf="item.value.length > 1" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{stripOrder(item.key)}}</a>
            <ul class="dropdown-menu">
              <li *ngFor="let subMenu of item.value">
                <a class="dropdown-item" [routerLink]=" [subMenu.route_path]">{{subMenu.label}}</a>
              </li>
            </ul>
          </li>
        </ng-container>

        <!-- login -->
        <li *ngIf="!loggedUser" class="nav-item">
          <a class="nav-link mx-2" routerLinkActive="active-link" routerLink="login">Se connecter</a>
        </li>

        <li *ngIf="loggedUser" class="nav-item mx-5 dropdown">
          <a class="nav-link dropdown-toggle " role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"> </i>
            {{loggedUser.firstname}}
          </a>
          <ul class="dropdown-menu ">
            <li><a class="dropdown-item" routerLink="me">Mes données</a></li>
            <li class="dropdown-item" (click)="onLogout()">
              déconnexion
            </li>
          </ul>
        </li>
      </ul>

      <!-- backend menu -->
      <ul [id]="!frontMenuShow ? 'show':'noShow'" class="navbar-nav">
        <li *ngIf="isAdmin" class="nav-item mx-5 dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-people-fill"></i>
            Adhérents
          </a>
          <ul class="dropdown-menu ">
            <li><a class="dropdown-item" routerLink="back/admin/members">Adhérents</a></li>

          </ul>
        </li>

        <li *ngIf="isPublisher" class="nav-item mx-5 dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-window-stack"></i>
            Publication </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="back/publisher/pages">Edition pages</a></li>
            <li><a class="dropdown-item" routerLink="back/publisher/files">Edition fichiers</a>
            </li>
            <li><a class="dropdown-item" routerLink="back/publisher/cleanup">Articles & Images</a>
            </li>
          </ul>
        </li>

        <li *ngIf="isSeller" class="nav-item mx-5 dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-cart4"></i>
            Ventes </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Accueil tournoi</a></li>
          </ul>
        </li>

      </ul>

    </div>
    <ul *ngIf="isLogged" class="navbar-nav  ">
      <!-- <div id="back-menu"> -->
      <li class="nav-item text-end">
        <a id="trigger" class="navbar-brand">
          <i [class]="frontMenuShow ? 'bi bi-gear-fill' : 'bi bi-house-up-fill'"
            (click)="toggleFrontMenuVisibility()"></i>
        </a>
      </li>
      <!-- </div> -->
    </ul>
  </div>
</div>