<div class="text-center p-4">
    <img class="img-fluid" src="../../../assets/images/alert.png" style="max-height: 10vh;" alt="404">
    <span class="zoom-area"><b></b> Oups ! Il semble qu'il y ait un problème à trouver cette page ... </span>
</div>

<section class="error-container py-5">
    <span class="four"><span class="screen-reader-text">4</span></span>
    <span class="zero"><span class="screen-reader-text">0</span></span>
    <span class="four"><span class="screen-reader-text">4</span></span>
</section>

<div class="text-center p-4">
    <img class="img-fluid" src="../../../assets/images/pass.jpg" style="max-height: 10vh;" alt="404">
    <span class="zoom-area"><b></b> je passe pour ce tour ... </span>
</div>