#sidebar:hover {
    cursor: pointer;
}

.card .img-fit-portrait {
    // aspect-ratio: 9/16;
    aspect-ratio: 1/1.45;
    object-fit: cover;
}

.card .img-fit-paysage {
    // aspect-ratio: 16/9;
    aspect-ratio: 1.45/1;
    object-fit: cover;
}

// @media (max-width: 768px) {
//     .card .img-fit {
//         aspect-ratio: 1.45/1;
//         object-fit: cover;
//     }
// }

.hdate {
    // left: 50px;
    position: relative;
    text-rendering: auto;
    padding-top: 4px;

    // width: -moz-calc(100% - 48px);
    // width: -webkit-calc(100% - 48px);
    // width: calc(100% - 58px);
    height: 40px;
    padding-left: 50px;
}

// .headline-container {
//     // height: 51px;
//     // padding-top: 10px;
//     // background-color: aquamarine;
//     // text-align: start;
// }

.hdate::before {
    content: attr(data-hmonth);
    position: absolute;
    display: block;
    left: 10px;
    top: 0px;
    background: rgb(230, 17, 17);
    color: white;
    text-align: center;
    font-size: 12px;
    width: 34px;
    height: 20px;
    line-height: 20px;
    padding-bottom: 14px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 2px 2px 2px rgb(178, 178, 178);
}

.hdate::after {
    content: attr(data-hday);
    position: absolute;
    left: 10px;
    top: 18px;
    background: rgb(249, 247, 211);
    // background: linear-gradient(to bottom, rgb(249, 247, 211), rgb(172, 211, 71));
    color: rgb(77, 77, 77);
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    width: 34px;
    height: 17px;
    line-height: 17px;
    padding: 0 0 1px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 2px 2px 2px rgb(178, 178, 178);
}