<div [class]="columnView ?'text-center' :'text-start ps-2'">
    <div class="card-body g-0">
        <section [class]=" article.date ? 'hdate' :'nohdate'" [attr.data-hday]="getDayOfTheMonth(article.date)"
            [attr.data-hmonth]="getMonth(article.date)" [innerHTML]="article.headline | safeHtml">
        </section>
    </div>

    <div class="card-body g-0">
        <ng-template *ngIf=" article.layout ==='Textual'" [ngTemplateOutlet]="textual"></ng-template>
        <ng-template *ngIf="!columnView && article.layout ==='Pictural'"
            [ngTemplateOutlet]="pictural_row"></ng-template>
        <ng-template *ngIf="columnView && article.layout ==='Pictural'"
            [ngTemplateOutlet]="pictural_column"></ng-template>

        <ng-template *ngIf="article.layout ==='File'" [ngTemplateOutlet]="document"></ng-template>

    </div>

</div>

<ng-template #textual>
    <section [innerHTML]="article.body | bucketname | safeHtml "> </section>
</ng-template>

<ng-template #pictural_row>
    <div *ngIf="article.pictures " class="row row-cols-1 row-cols-md-4 justify-content-around g-1">
        <div *ngFor="let picture of article.pictures.items | orderBy:'rank':'asc'">
            <app-image [class]="(picture?.orientation === 'ITALIAN') ? 'col col-md-2' : 'col col-md-4'"
                [picture]="picture!"> </app-image>
        </div>
    </div>
</ng-template>

<ng-template #pictural_column>
    <div *ngIf="article.pictures " class="col">
        <div *ngFor="let picture of article.pictures.items | orderBy:'rank':'asc'">
            <app-image [picture]="picture!"> </app-image>
        </div>
    </div>
</ng-template>

<ng-template #document>
    <app-list-files [article]="article"></app-list-files>
</ng-template>