.dropdown-menu li {
    position: relative;
}

// essai drop on hover
.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0px;
}