<div class="row">

    <section class="col" *ngFor="let item of menuMap$ | async | keyvalue ">
        <li *ngIf="item.value && item.value.length === 1" class="nav-item  ">
            <a class="nav-link text-success" routerLinkActive="active-link "
                [routerLink]="[item.value[0].route_path]">{{item.value[0].label.toUpperCase()}}</a>
        </li>

        <li *ngIf="item.value.length > 1" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-success " role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                {{stripOrder(item.key).toUpperCase()}}</a>
            <ul class="dropdown-menu">
                <li *ngFor="let subMenu of item.value">
                    <a class="dropdown-item" [routerLink]=" [subMenu.route_path]">{{subMenu.label}}</a>
                </li>
            </ul>
        </li>
    </section>
</div>