<div *ngIf="page!==null" class="col">
    <label class="col-form-label-sm pt-1">
        <i class="bi bi-grid-fill"></i>
        les articles de la page
    </label>

    <ul cdkDropListGroup class="list-group shadow ">
        <div id="articlesList" cdkDropList class="droparea" [cdkDropListConnectedTo]="['articlesBin']"
            (cdkDropListDropped)="dropped($event)" [cdkDropListData]="drag_list">
            <!-- <li *ngIf="drag_list.length === 0" class="list-group-item py-1">aucun article</li> -->
            <li cdkDrag *ngFor="let item of drag_list | orderBy:'rank':'asc' "
                [class]="'list-group-item py-1 movable'+ (item.id === selected_id ?' bg-secondary text-white' :'')">
                <span (click)="onSelect(item)" [innerText]="stripTags(item!.headline) "></span>
                <!-- <img *cdkDragPreview src="../../../../assets/images/bcsto.jpg" style="max-width:60px;"> -->

            </li>
        </div>
    </ul>

    <div class="text-start mt-2 ">
        <button class="btn btn-sm btn-primary shadow text-white w-100" (click)="onCreate()">ajouter un autre
            article</button>
    </div>
</div>