<div class="container-fluid ">
  <!-- <app-headband [title]="home.title" [description]="home.description"> </app-headband> -->

  <!-- affichage des news en mode horizontal  -->

  <div class="p-2">


    <div class="container-fluid">
      <div class="row row-cols-1 row-cols-md-5  row-cols-sm-1 justify-content-center">
        <app-card class=" d-flex pb-2" *ngFor="let article of article$ | async " [catLabel]=" article.page!.label"
          [article]="article" [displaymode]="'horizontal'" (click)="selectArticle(article)"> </app-card>
      </div>
    </div>

  </div>
</div>