<div class="container-fluid ">
  <app-headband [title]="home.title" [description]="home.description"> </app-headband>

  <!-- affichage des news en mode horizontal  -->

  <div class="p-2">


    <!-- <div class="container-fluid"> -->
    <div class="row row-cols-md-6  mb-2 p-5 justify-content-around">
      <app-card class="d-flex " *ngFor="let article of article$ | async " [catLabel]=" article.category!.label"
        [article]="article" [displaymode]="'horizontal'" (click)="selectArticle(article)"> </app-card>
    </div>
    <!-- </div> -->

  </div>
</div>