<!-- <div class="container container-fluid"> -->
<div class="bandeau">
    <div class="p-2">

        <h1>Bienvenue au club de bridge de Saint-Orens</h1>
        <h3>Notre club de bridge vous accueille dans un esprit convivial. </h3>
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vestibulum, massa ut pretium mollis,
            urna
            nisl
            fermentum tellus, quis pharetra libero risus nec erat.</h3>

        <h1>Vous savez jouer au bridge</h1>
        <h3>Nous proposons des tournois hebdomadaires accessibles à tous les niveaux.</h3>

        <h1>Vous voulez apprendre à jouer au bridge</h1>
        <h3>Vous pouvez vous inscrire à des cours de bridge pour débutant. Si vous savez jouer au bridge et que vous
            voulez progresser avec un professeur, le club de Saint-Orens propose des cours de perfectionnement</h3>
    </div>
</div>

<div class="col-md-3">
    <p style="font-weight:bold">Adresse :</p>
    <p class="bordGauche1">Club de bridge de Saint-Orens<br>Espace Marcaissonne<br>13 Boulevard du libre
        Échange<br>31650 Saint-Orens-de-Gameville<br><br>Téléphone : 06.23.98.56.78<br><br></p>
    <p style="font-weight:bold;padding-bottom:10px"><a style="color:white;text-align:center" target="_blank"
            href="https://www.google.fr/maps/place/Espace+Marcaissonne/@43.5644303,1.5236611,15.33z/data=!4m5!3m4!1s0x12ae961c0d5afce5:0x77f3a2108ed0953e!8m2!3d43.563818!4d1.5251293">Position
            sur une carte</a></p>

    <br><br>
    <FORM ACTION="mailto:didier.carral@free.fr" METHOD=GET>
        <INPUT NAME=subject TYPE=hidden VALUE="Inscription ">Contactez-nous :<br><br>
        <TEXTAREA NAME=body COLS=20 placeholder="indiquez votre nom"></TEXTAREA>
        <INPUT TYPE=submit VALUE="Envoyer">
    </FORM>
    <br>
</div>

<!-- </div> -->