<label class="col-form-label-sm pt-2 pb-0">le titre</label>
<div class="card shadow m-2">
    <div class="p-2">
        <section id="headArea" [class]="article.date ? 'hdate':'hnodate'"
            [attr.data-hday]="getDayOfTheMonth(article.date)" [attr.data-hmonth]="getMonth(article.date)"
            [innerHTML]="article.headline | safeHtml">
        </section>
    </div>
</div>
<label class="col-form-label-sm pt-2 pb-0">le corps de texte</label>
<div class="card shadow m-2">
    <div class="p-2">
        <section id="bodyArea" [innerHTML]="article.body | bucketname | safeHtml ">
        </section>
    </div>
</div>