<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col col-md-6">
      <div class="card border-0">

        <div class="card-body justify-content-center">

          <div class=" col-md-8 offset-md-2">
            <figure class="text-center">
              <blockquote class="blockquote">
                <img src="../../../assets/images/bcsto.jpg" class="figure-img img-fluid " alt="logo">
                <p class="h1">Bienvenue</p>
              </blockquote>
            </figure>
          </div>

          <form [formGroup]="loginForm">

            <div class="container ">

              <div class="row justify-content-center pt-2">
                <div class="col-md-8">
                  <label for="email" class="form-label">email</label>
                  <input type="mail" class="form-control form-control-sm" placeholder="adresse mail" id="email"
                    autocomplete="username" formControlName="email"
                    [class.is-invalid]="email.invalid && (email.dirty || email.touched)" />
                  <div class="invalid-feedback">
                    une adresse mail doit être fournie
                  </div>
                </div>
              </div>

              <div class="row justify-content-center pt-2">
                <div class="col-md-8">
                  <div class="input-group">
                    <label for="password" class="form-label">mot de passe</label>
                    <input [type]="pswInputType" class="form-control form-control-sm" placeholder="mot de passe"
                      id="password" formControlName="password" autocomplete="current-password"
                      [class.is-invalid]="password.invalid && (password.dirty || password.touched)" />
                    <div class="invalid-feedback">
                      mot de passe absent
                    </div>
                    <button type="button" class="btn btn-sm btn-info" (click)="togglePswInputType()">
                      <i *ngIf="!pswVisible" class="bi bi-eye-fill"></i>
                      <i *ngIf="pswVisible" class="bi bi-eye-slash-fill"></i>
                    </button>
                  </div>
                </div>
              </div>



              <div class="row justify-content-around pt-4">
                <button class="btn btn-sm btn-primary col-4" type="submit" (click)="onLogin()"
                  [disabled]="loginForm.invalid">log in</button>
                <button class="btn btn-sm btn-info col-4" type="submit" (click)="onReset()">mot de passe
                  oublié</button>
              </div>
            </div>


          </form>
          <br>


        </div>
      </div>
    </div>
  </div>