<!-- <div class="modal fade" tabindex="-1" role="dialog"> -->
<!-- <div class="modal-dialog"> -->
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-sm btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="activeModal.dismiss('Abandon')"></button>
    </div>
    <div class="modal-body">
        <div id="tiny_area"> ..</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary">Save changes</button>
    </div>
</div>
<!-- </div> -->
<!-- </div> -->