.card .img-fit-portrait {
    // aspect-ratio: 9/16;
    max-height: 10rem;
    aspect-ratio: 1/1.45;
    object-fit: scale-down;
}

.card .img-fit-paysage {
    // aspect-ratio: 16/9;
    max-height: 10rem;
    aspect-ratio: 1.45/1;
    object-fit: scale-down;
}


.card .img-flat {
    // max-height: 5rem;
    // object-fit: cover;

    opacity: 0.5;
    max-width: 40%;
}

// @media (max-width: 768px) {
//     .card .img-fit {
//         aspect-ratio: 1.45/1;
//         object-fit: cover;
//     }
// }