<footer>
  <div class="container">
    <div class="col-md-12 text-center">

      <div>
        <ul class="nav justify-content-center  ">
          <!-- <li class="nav-item"> <a class="nav-link active" routerLink="home" aria-current="page">Home</a> </li> -->
          <!-- <li class="nav-item"> <a class="nav-link" href="#">About</a> </li> -->
          <li class="nav-item"> <a class="nav-link"
              [routerLink]="contactMenu.page_param ? [contactMenu.routerLink,contactMenu.page_param] : [contactMenu.routerLink]">Contact</a>
          </li>
          <li class="nav-item"> <a class="nav-link"
              [routerLink]="legalMenu.page_param ? [legalMenu.routerLink,legalMenu.page_param] : [legalMenu.routerLink]">Mentions
              légales</a> </li>
          <li class="nav-item"> <a class="nav-link " routerLink="signup">S'enregistrer</a> </li>
        </ul>
      </div>

      <p class="col-md-12 text-center"> © 2024 BCSTO. All rights reserved.
        <small>&nbsp;&nbsp; {{release}} </small>
      </p>



    </div>

  </div>

</footer>