<footer>
  <div class="container">
    <div class="col-md-12 text-center">

      <div *ngIf="contactPage && legalPage">
        <ul class="nav justify-content-center  ">
          <li class="nav-item"> <a class="nav-link" routerLink='front/contact'>
              contactez nous</a>
          </li>
          <li class="nav-item"> <a class="nav-link" routerLink='front/légal'>
              mentions légales</a> </li>
          <li class="nav-item"> <a class="nav-link " routerLink="signup">s'enregistrer</a> </li>
        </ul>
      </div>

      <p class="col-md-12 text-center"> © 2024 BCSTO. All rights reserved.
        <small>&nbsp;&nbsp; {{release}} </small>
      </p>



    </div>

  </div>

</footer>