<!-- <div class="card h-100"> -->
<img *ngIf="picture" [class]="orientation" [src]="signedUrl" [alt]="alt">
<div class="card-body text-center p-0">
    <div *ngIf="picture?.caption1" class="text-primary"> {{picture.caption1}}
    </div>
    <div *ngIf="picture?.caption2">
        <small class="text-muted"> {{picture.caption2}} </small>
    </div>
</div>
<!-- <div class="card-footer">
    </div> -->
<!-- </div> -->
<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-sm text-white btn-primary" (click)="onClick()">
        <i class="bi bi-pencil-square"></i>
    </button>
    <button type="button" class="btn btn-sm text-white btn-danger" (click)="onDelete()">
        <i class="bi bi-trash"></i>
    </button>
</div>