 .img-fit-portrait {
     // aspect-ratio: 9/16;
     aspect-ratio: 1/1.45;
     object-fit: cover;
 }

 .img-fit-paysage {
     // aspect-ratio: 16/9;
     aspect-ratio: 1.45/1;
     object-fit: cover;
 }