<div class=" card  shadow ">
    <div class="card-body text-start">
        <!-- <div class="row"> -->
        <div class="col">
            <div class="row p-2">
                <span> <strong>type d'article : &nbsp;</strong> {{getLayout(article.layout)}} </span>
            </div>
            <div class="row p-2">
                <span><strong> date de l'événement (option)</strong> </span>
                <div class="input-group ">
                    <div class="input-group-text">
                        <input class="form-check-input" type="checkbox" (change)="onDateCheckBoxChange($event)"
                            [(ngModel)]="withDate">
                    </div>
                    <input type="date" class="form-control" [valueAsDate]="getDate()" (change)="onChangeDate($event)">
                </div>
            </div>
            <div class="row p-2">
                <label class="col-form-label-sm p-2 "><strong> le titre de l'article</strong></label>
                <app-edit-headline class="py-1" [article]="article"></app-edit-headline>
            </div>

        </div>
        <!-- </div> -->

    </div>
</div>