/* You can add global styles to this file, and also import other style files */

@import '@angular/cdk/overlay-prebuilt.css';

// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$primary: #25408f;
$secondary: rgb(43, 139, 67);
$success: rgb(6, 77, 23);
$info: rgb(245, 155, 43);
$warning: #ba4d61;
$danger: #e0103a;
$light: #adc7e2;
$dark: #343a40;

@import '../node_modules/bootstrap/scss/bootstrap';

// Then add additional custom code here



// hdate before & after
// .headline-container {
//     min-height: 48px;
// }

.nohdate {
    min-height: 47px;
}

.hdate {
    position: relative;
    text-rendering: auto;
    // text-align: center;
    // padding-top: 4px;
    min-height: 47px;
    // padding-left: 25px;
}

.hdate::before {
    content: attr(data-hmonth);
    position: absolute;
    display: block;
    left: -50px;
    top: 4px;
    width: 42px;
    height: 22px;
    line-height: 22px;

    background: rgb(245, 155, 43);
    color: black;
    text-align: center;
    font-size: 14px;
    // padding-bottom: 14px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 2px 2px 2px rgb(60, 60, 3);
}

.hdate::after {
    content: attr(data-hday);
    position: absolute;
    left: -50px;
    top: 25px;
    background: rgb(43, 139, 67);
    // background: linear-gradient(to bottom, rgb(249, 247, 211), rgb(172, 211, 71));
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    width: 42px;
    height: 20px;
    line-height: 20px;
    padding: 0 0 1px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 2px 2px 2px rgb(60, 60, 3);
}

/* global styling for sticky footer*/
body,
html {
    height: 100%;
}

body {

    margin-bottom: 0 !important;
    margin-top: 0 !important;
    // background-color: rgb(194, 194, 219);
}



/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Importing custom SCSS file. */

// @import url('https://fonts.googleapis.com/css2?family=Flamenco&display=swap');

// body {
//     // font-family: 'Indie Flower', cursive;
//     font-family: "Flamenco", system-ui;
//     font-weight: 400;
//     font-style: normal;
// }