<div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">
        <h6>paramètres image </h6>
    </h5>
    <button type="submit" class="btn btn-sm btn-primary text-white" (click)="infoChanged()">
        <i class="bi bi-check-square-fill"></i>
    </button>
</div>

<div class="modal-body">
    <form [formGroup]="pictureForm">
        <div class="row">

            <div class="col">
                <label> légende principale </label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-x-circle-fill" (click)="clear_caption1()"></i>
                    </span>
                    <input type="text" class="form-control" formControlName="caption1">
                </div>
            </div>
            <div class="col">
                <label> sous-titre légende </label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-x-circle-fill" (click)="clear_caption2()"></i>
                    </span>
                    <!-- <input type="text" class="form-control" formControlName="caption2"> -->
                    <textarea type="text" class="form-control" formControlName="caption2"> </textarea>

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <label> orientation photo</label>
                <div class="input-group">
                    <!-- <span class="input-group-text">
                        <i class="bi bi-x-circle-fill" (click)="clear_orientation()"></i>
                    </span> -->
                    <app-icons-toggler-input [options]="options"
                        formControlName="orientation"></app-icons-toggler-input>


                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <!-- <button (click)="withDate = !withDate" type="button" class="btn btn-secondary">{{date ? 'sans date':'avec date'}}
    </button> -->
</div>