<app-dash-header title="administration" subtitle="gestion des adhérents"></app-dash-header>

<div class="container-fluid p-2">

  <div class="card shadow">
    <form [formGroup]="memberForm">
      <div class="card-body">
        <table class="table table-responsive-sm table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col" class="col-md-2 text-start">Nom</th>
              <th scope="col" class="col-md-2">Prénom</th>
              <th scope="col" class="col-md-2">License</th>
              <th scope="col" class="col-md-2">email</th>
              <th scope="col" class="col-md-3">droits</th>
              <th scope="col" class="col-md-1 text-center">action</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let member of members | async " (click)="selectMember(member)">
              <td class="col text-start">{{ member.lastname }}</td>
              <td class="col">{{ member.firstname }}</td>
              <td class="col">{{ member.license }}</td>
              <td class="col">{{ member.email }}</td>
              <td class="col"> {{ member.rights }}
                <!-- <app-rights-input [(ngModel)]="member.rights"></app-rights-input> -->
              </td>
              <td class="col text-center">
                <button type="button" class="btn btn-light btn-sm " (click)="deleteMember($event,member)">
                  <i class="bi bi-trash3" style="color:rgb(116, 5, 27)"></i>
                </button>
            </tr>

            <tr>
              <td colspan="6"></td> <!-- saute une ligne -->
            </tr>

            <tr class="table-info">
              <td class="col">
                <input type="text" class="form-control " placeholder="nom" formControlName="lastname"
                  (input)="controlTextToUpperCase('lastname')"
                  [class.is-invalid]="lastname.invalid && (lastname.dirty || lastname.touched)">
                <div class="invalid-feedback">
                  nom obligatoire
                </div>
              </td>
              <td class="col">

                <input type="text" class="form-control " placeholder="prénom" formControlName="firstname"
                  (input)="controlTextFirstLetterToUpperCase('firstname')"
                  [class.is-invalid]="firstname.invalid && (firstname.dirty || firstname.touched)">
                <div class="invalid-feedback">
                  prénom obligatoire
                </div>
              </td>

              <td class="col">
                <input type=" text" class="form-control " placeholder="n°licence" formControlName="license"
                  [class.is-invalid]="license.invalid && (license.dirty || license.touched)">
                <div class="invalid-feedback">
                  n° licence obligatoire
                </div>
              </td>

              <td class="col">
                <input type="mail" class="form-control " placeholder="email" formControlName="email"
                  [class.is-invalid]="email.invalid && (email.dirty || email.touched)">
                <div class="invalid-feedback">
                  email obligatoire
                </div>
              </td>
              <td class="col">
                <app-rights-input class="form-control " formControlName="rights"></app-rights-input>
              </td>
              <td class="col">
                <button *ngIf="createMode" type="button" class="btn btn-primary "
                  (click)="createMember()">ajouter</button>
                <button *ngIf="!createMode" type="button" class="btn btn-primary"
                  (click)="updateMember()">modifier</button>
              </td>








            </tr>

          </tbody>
        </table>
      </div>
    </form>


  </div>