<form [formGroup]="form">

  <div class="form-check">
    <input formControlName="template" class="form-check-input" type="radio" name="template" value="template2">
    <label> template 2 </label>
  </div>
  <div class="form-check">
    <input formControlName="template" class="form-check-input" type="radio" name="template" value="template1">
    <label> template 1 </label>
  </div>

  <!-- {{template}} -->

  <!-- <ng-container [ngSwitch]="template">
    <div *ngSwitchCase="'template1'"> TEMPLATE 1 </div>
    <div *ngSwitchCase="'template2'"> TEMPLATE 2 </div>
  </ng-container>
 -->
  <div *ngIf="template ==='template1'"> div : TEMPLATE 1 </div>
  <div *ngIf="template ==='template2'"> div : TEMPLATE 2 </div>


</form>

<!-- <ng-container [ngSwitch]="template"> -->
<!-- <section id="myTextarea"> -->

<div id="template1" [ngClass]="(template === 'template1') ? 'show' : 'noshow'">
  <section>
    <div class="container-fluid mt-4 mb-4">
      <div class="row">

        <div class="col-md-4">
          <img src="../assets/images/bcsto.jpg" alt="bcsto" width="200" height="100">
        </div>

        <div class="col-md-8">
          <section class="editable">
            <h1>Titre</h1>
          </section>
          <h6> {{sous_titre}} </h6>
        </div>

      </div>

      <!-- <div class="row"> -->
      <section class="editable">
        <div class="col-md-12 text-center">
          <p>Texte A</p>
        </div>
      </section>

      <section class="editable">
        <div class="col-md-10 mx-auto">
          <ng-container *ngTemplateOutlet="table"></ng-container>
        </div>
      </section>

      <section class="editable">
        <div class="col-md-12 text-center">
          <p>Texte B</p>
        </div>
      </section>
      <!-- </div> -->
    </div>
  </section>
</div>

<div id="template2" [ngClass]="(template === 'template2') ? 'show' : 'noshow'">
  <div [innerHTML]="externalHtml"></div>
</div>


<ng-template #table>
  <div class="text-center">

    <table class="table col-md-10 mx-auto table-info table-bordered table-sm">
      <thead class="table-light">
        <tr>
          <th class="col">colonne 1</th>
          <th class="col">colonne 2</th>
          <th class="col">colonne 3</th>
        </tr>
      </thead>
      <tbody>
        <tr class="col align-middle">
          <td>ligne 1</td>
          <td>ligne 1</td>
          <td>ligne 1</td>
        </tr>
        <tr class="col align-middle">
          <td>ligne 2</td>
          <td>ligne 2</td>
          <td>ligne 2</td>
        </tr>
        <tr class="col align-middle">
          <td>ligne 3</td>
          <td>ligne 3</td>
          <td>ligne 3</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<!-- </section> -->
<!-- </ng-container> -->




<button class="btn btn-primary" (click)="getContent()">show Content</button>

<div>content : {{saferHtml}}</div>


<div class="align-center">
  <p>
    ******* affichage innerHTML ******
  </p>
  <section [innerHTML]="saferHtml "></section>
</div>


<p> **** affiche generic-template.html</p>
<div [innerHTML]="externalHtml"></div>