// .img {
//     min-height: 100px;
// }

card {
    max-height: 40px;
}

img {
    // aspect-ratio: 1/1.45;
    // object-fit: cover;
    max-width: 60%;
}

/* Context Menu */
.example-menu {
    display: inline-flex;
    flex-direction: column;
    min-width: 180px;
    max-width: 280px;
    background-color: rgb(255, 255, 255);
    padding: 6px 0;
}

.example-menu-item {
    cursor: pointer;
    border: none;
    background: transparent;
    // user-select: none;
    // min-width: 64px;
    // line-height: 36px;
    // padding: 0 16px;

    // display: flex;
    // align-items: center;
    // flex-direction: row;
    // flex: 1;
}

.example-menu-item:hover {
    font-weight: bold;
}

// .example-menu-item:active {
//     background-color: rgb(170, 170, 170);
// }