<div class="col">
    <ng-template *ngIf="viewMode ==='diapo'" [ngTemplateOutlet]="diapo"></ng-template>
    <ng-template *ngIf="viewMode ==='textual'" [ngTemplateOutlet]="textual"></ng-template>

</div>

<ng-template #textual>
    <div [class]=" editable ? 'card border-1 h-100' : 'card border-0 h-100' ">
        <div *ngIf="data" class="card-body text-start">
            <!-- <div class="container " (click)="showMore = !showMore"> -->
            <div *ngIf="!data.date">
                <section #headArea [id]="'headArea' + data.index" [innerHTML]="data.headline | safeHtml">
                </section>
            </div>

            <div *ngIf="data.date" class="hdate" [attr.data-hday]="data.date.getDate()"
                [attr.data-hmonth]="getMonth(data.date)">
                <section #headArea [id]="'headArea' + data.index" [innerHTML]="data.headline | safeHtml">
                </section>
            </div>

            <div *ngIf="!showLess" class="text-start ps-2">
                <span #bodyArea [id]="'bodyArea'+ data.index" [innerHTML]="data.body | bucketname | safeHtml "></span>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #diapo>
    <div [class]=" editable ? 'card border-1 h-100' : 'card border-0 h-100' ">
        <div *ngIf="data" class="card-header text-center">
            <img [src]="data.image" class="card-img-portrait-top" alt="title">
        </div>
        <div *ngIf="data" class="card-body text-center">
            <span #headArea [id]="'headArea' + data.index" [innerHTML]="data.headline | safeHtml"> </span>
        </div>
    </div>
</ng-template>