<div class="row m-2">

    <div class="col-6">

        <div class="card">
            <div class="card-header">
                <div class="row justify-content-between">
                    <h5 class="col">Gestion des images sécurisées</h5>
                    <div class="col-auto text-end">
                        clear :
                        <i class="bi bi-x-circle-fill" (click)="cancel()"></i>
                    </div>
                </div>
            </div>

            <div class="card-body">

                <form [formGroup]="pictureForm">
                    <!-- <div class="card-body"> -->
                    <div class="row">
                        <!-- selecteur &  viewer de l'picture banner_url -->
                        <div class="col-6">
                            <!-- <div class="col-md-4"> -->
                            <div class="mb-3">
                                <label for="title"> titre :</label>
                                <input type="text" class="form-control " formControlName="title" id="title">
                            </div>

                            <div class="mb-3">
                                <label> légende</label>
                                <input type="text" class="form-control " formControlName="caption" id="caption">
                            </div>

                            <div class="mb-3">
                                <label> chemin</label>
                                <div class="input-group">
                                    <span class="input-group-text pe-0">../pictures/</span>
                                    <input type="text" class="form-control ps-0" formControlName="path" id="path">
                                </div>
                                <!-- <div class="col-6"> -->
                                <app-files (newPathEvent)="pathChange($event)" [root_folder]="root_folder"
                                    [full_rights]="false" [arbo_only]="true" [sub_folder]="sub_folder">
                                </app-files>
                                <!-- </div> -->
                            </div>
                            <div class="mb-3">
                                <label> validation</label>
                                <div class="div">
                                    <button *ngIf="createMode" type="submit" id="validation"
                                        class="btn btn-sm btn-primary text-white " (click)="createPicture()"
                                        [disabled]="pictureForm.invalid">
                                        Ajouter
                                    </button>

                                    <button *ngIf="!createMode" type="submit" id="validation"
                                        class="btn btn-sm btn-primary text-white " (click)="updatePicture()"
                                        [disabled]="pictureForm.invalid">
                                        Valider
                                    </button>

                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="mb-3">
                                <label> fichier</label>
                                <input type="text" class="form-control " formControlName="filename" id="filename"
                                    readonly>
                            </div>
                            <div class="mb-3">
                                <label></label>
                                <div class="input-group-sm">
                                    <input type="file" id="file-input" name="file-input"
                                        (change)="filePreview($event)" />
                                    <label id="file-input-label" for="file-input"
                                        class="btn btn-outline-primary btn-sm">
                                        <i class="bi bi-image"></i>
                                        sélectionnez une image
                                    </label>
                                </div>
                            </div>

                            <div *ngIf="imgBuffer">
                                <img [src]="imgBuffer " alt="" class="img-fluid img-thumbnail">
                                <div *ngIf="image_size">
                                    <label class="text-bg-info">taille : {{image_size}}</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-6">
        <table class="table table-responsive-sm align-items-center table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="col-md-1 ">#</th>
                    <th scope="col" class="col-md-2 ">titre</th>
                    <th scope="col" class="col-md-2 ">fichier</th>
                    <th scope="col" class="col-md-2 ">répertoire</th>
                    <th scope="col" class="col-md-3">légende</th>
                    <th scope="col" class="col-md-2 text-center"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let picture of pictures$ | async ; let i=index" (click)="selectPicture(picture)">
                    <td class="col"> {{i}} </td>
                    <td class="col"> {{ picture.title }} </td>
                    <td class="col"> {{ picture.filename }} </td>
                    <td class="col"> {{ picture.path }} </td>
                    <td class="col">{{ picture.caption }}</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-primary" (click)="deletePicture(picture)">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </td>
                </tr>

                <tr>
                    <td colspan="6"></td> <!-- saute une ligne -->
                </tr>
            </tbody>
        </table>
    </div>
</div>